<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css" rel="stylesheet" />
<style>
  .map-container { display: flex; justify-content: space-between; align-items: center }
  .map { position: relative; height: 400px;  top: 0; bottom: 0; width: 100%; }
  .map-wrapper { width: 100%; padding: 16px; }
  .hidden { display: none }
</style>

<div class="map-container">
  <div class="map-wrapper">
    <h2>Current shape</h2>
    <div id="current-map" class="map"></div>
  </div>
  <div class="map-wrapper hidden">
    <h2>New shape</h2>
    <div id="new-map" class="map"></div>
  </div>
</div>

<script>
  const fmuLayers = [
    {
      type: 'fill',
      'source-layer': 'layer0',
      source: 'fmus',
      id: 'layerCOD',
      filter: [
        'all',
        ['==', ['get', 'iso3_fmu'], 'COD']
      ],
      paint: {
        'fill-color': '#5ca2d1',
        'fill-opacity': 0.9
      }
    },
    {
      type: 'fill',
      'source-layer': 'layer0',
      source: 'fmus',
      id: 'layerCOG',
      filter: [
        'all',
        ['==', ['get', 'iso3_fmu'], 'COG']
      ],
      paint: {
        'fill-color': '#7B287D',
        'fill-opacity': 0.9
      }
    },
    {
      type: 'fill',
      'source-layer': 'layer0',
      id: 'layerCMR',
      source: 'fmus',
      filter: [
        'all',
        ['==', ['get', 'iso3_fmu'], 'CMR']
      ],
      paint: {
        'fill-color': {
          property: 'fmu_type_label',
          type: 'categorical',
          stops: [
            ['ventes_de_coupe', '#8BC2B5'],
            ['ufa', '#007A5E'],
            ['communal', '#00382B']
          ],
          default: '#007A5E'
        },
        'fill-opacity': 0.9
      }
    },
    {
      type: 'fill',
      'source-layer': 'layer0',
      source: 'fmus',
      id: 'layerGAB',
      filter: [
        'all',
        ['==', ['get', 'iso3_fmu'], 'GAB']
      ],
      paint: {
        'fill-color': {
          property: 'fmu_type_label',
          type: 'categorical',
          stops: [
            ['CPAET', '#e95800'],
            ['CFAD', '#e9A600']
          ],
          default: '#e95800'
        },
        'fill-opacity': 0.9
      }
    },
    {
      type: 'fill',
      'source-layer': 'layer0',
      source: 'fmus',
      id: 'layerCAF',
      filter: [
        'all',
        ['==', ['get', 'iso3_fmu'], 'CAF']
      ],
      paint: {
        'fill-color': '#e9D400',
        'fill-opacity': 0.9
      }
    },
    {
      type: 'line',
      'source-layer': 'layer0',
      source: 'fmus',
      id: 'layerLine',
      paint: {
        'line-color': '#000000',
        'line-opacity': [
          'case',
          ['boolean', ['feature-state', 'hover'], false],
          1,
          0.1
        ],
        'line-width': [
          'case',
          ['boolean', ['feature-state', 'hover'], false],
          2,
          1
        ],
        'line-dasharray': [3, 1]
      }
    }
  ];


  const inputElement = document.getElementById('fmu_esri_shapefiles_zip');
  function handleFiles() {
    setMaxSize(inputElement);
    if (this.files[0] === undefined) {
      return;
    }

    const csrf = document.querySelector('meta[name="csrf-token"]').content;
    const formData = new FormData();

    formData.append("file", this.files[0], this.files[0].name);
    $.ajax({
      type: "POST",
      url: "/admin/fmus/preview",
      headers: { 'X-CSRF-Token': csrf },
      success: function (data) {
        if(data === null || data.errors !== undefined) {
          alert("The file you uploaded is erroneous: " + data.errors);
          return;
        }
        if (<%= present %>) {
          $("#new-map").parent().removeClass("hidden");
          const map2 = new mapboxgl.Map({
            container: 'new-map', // container id
            style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
            transformRequest: (url, resourceType) => {
              if (
                url.startsWith('<%= host %>')
              ) {
                return {
                  url,
                  headers: {
                    'Content-Type': 'application/json',
                    'OTP-API-KEY': 'Bearer <%= api_key %>'
                  }
                };
              }
              return null;
            }
          });
          map2.on('load', function() {
            map2.fitBounds(data.bbox, {
              padding: 50
            });
            map2.addSource('fmu', {
              'type': 'geojson',
              'data': data.geojson
            });
            map2.addSource('fmus', {
              'type': 'vector',
              tiles: [`<%= host %>/fmus/tiles/{z}/{x}/{y}`],
              promoteId: 'id'
            });
            fmuLayers.forEach((layer) => {
              map2.addLayer(layer);
            });
            map2.addLayer({
              'id': 'fmu-fill',
              'type': 'fill',
              'source': 'fmu',
              'layout': {},
              'paint': {
                'fill-color': '#AAA',
                'fill-opacity': 0.8
              }
            });
            map2.addLayer({
              'id': 'fmu-line',
              'type': 'line',
              'source': 'fmu',
              'layout': {},
              'paint': {
                'line-color': '#000',
                'line-opacity': 1,
                'line-width': 4
              }
            });
            map.resize();
          });
        } else {
          map.fitBounds(data.bbox, {
            padding: 50
          });
          const source = map.getSource('fmu');

          if(source) {
            source.setData(data.geojson);
          } else {
            map.addSource('fmu', {
              'type': 'geojson',
              'data': data.geojson
            });
            map.addSource('fmus', {
              'type': 'vector',
              tiles: [`<%= host %>/fmus/tiles/{z}/{x}/{y}`],
              promoteId: 'id'
            });

            fmuLayers.forEach((layer) => {
              map.addLayer(layer);
            });

            map.addLayer({
              'id': 'fmu-fill',
              'type': 'fill',
              'source': 'fmu',
              'layout': {},
              'paint': {
                'fill-color': '#AAA',
                'fill-opacity': 0.8
              }
            });

            map.addLayer({
              'id': 'fmu-line',
              'type': 'line',
              'source': 'fmu',
              'layout': {},
              'paint': {
                'line-color': '#000000',
                'line-opacity': 1,
                'line-width': 4
              }
            });
          }
        }
      },
      error: function (error) {
        console.log("ERROR: " + JSON.stringify(error));
      },
      async: true,
      data: formData,
      cache: false,
      contentType: false,
      processData: false,
      timeout: 60000
    });
  }
  inputElement.addEventListener("change", handleFiles, false);

  mapboxgl.accessToken = '<%= ENV['MAPBOX_API_KEY'] %>';
  const map = new mapboxgl.Map({
    container: 'current-map', // container id
    style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
    transformRequest: (url, resourceType) => {
      if (
        url.startsWith('<%= host %>')
      ) {
        return {
          url,
          headers: {
            'Content-Type': 'application/json',
            'OTP-API-KEY': 'Bearer <%= api_key %>'
          }
        };
      }
      return null;
    }
  });


  map.on('load', function() {
    if (<%= present %>) {
      map.fitBounds(<%= bbox || [] %>, {
        padding: 50
      });
      map.addSource('fmu', {
        'type': 'geojson',
        'data': <%= raw(geojson.to_json) %>
      });
      map.addSource('fmus', {
        'type': 'vector',
        tiles: [`<%= host %>/fmus/tiles/{z}/{x}/{y}`],
        promoteId: 'id'
      });
      fmuLayers.forEach((layer) => {
        map.addLayer(layer);
      });
      map.addLayer({
        'id': 'fmu-fill',
        'type': 'fill',
        'source': 'fmu',
        'layout': {},
        'paint': {
          'fill-color': '#AAA',
          'fill-opacity': 0.8
        }
      });
      map.addLayer({
        'id': 'fmu-line',
        'type': 'line',
        'source': 'fmu',
        'layout': {},
        'paint': {
          'line-color': '#000000',
          'line-opacity': 1,
          'line-width': 4
        }
      });
    }
  });

  function setMaxSize(e) {
    const file = e.files[0];
    if (file.size > 100000){
      alert('Shapes cannot be larger than 100KB');
      e.value = "";
    }
  }
</script>
