<% save_to_localstorage = true unless local_assigns[:save_to_localstorage] %>
<% page = "default" unless local_assigns[:page] %>

<div class="visible-columns" data-page="<%= page %>" data-save-to-local-storage="<%= save_to_localstorage %>">
  <% attributes.each do |column, name, checked| %>
    <%
      column_id = column.gsub('_&_', '_')
      name = column if name.blank?
    %>
    <div class="visible-column" id="attribute-<%= column_id  %>">
      <label>
        <input type="checkbox" class="visible-column__checkbox" id="<%= column_id %>" <%= checked == :checked ? 'checked' : '' %>>
        <%=name %>
      </label>
    </div>
  <% end %>
</div>
