<% if !@versions.empty? %>
  <h3><%= I18n.t('active_admin.versionate.current_version').to_s + @versions.length.to_s %></h3>

  <% last_version = @versions.last %>

  <b><%= I18n.t('active_admin.versionate.created_at') %></b> <%= last_version.created_at%>
  <br>
  <b><%= I18n.t('active_admin.versionate.user') %></b><%= User.find(last_version.whodunnit).email rescue '' %>
  <br>
  <% if @versions.length.to_i > 0 %>

    <% if params[:version] %>
      <% version = @versions[params[:version].to_i] %>

      <% if version %>
        <%= link_to I18n.t('active_admin.versionate.go_to_current_version')%>

        <h3><%= I18n.t('active_admin.versionate.this_is_version', number: params[:version]) %></h3>

        <% reify_version_info = version.previous %>
        <!-- We are showing reify version which is object before changes -->
        <% if reify_version_info %>
          <b><%= I18n.t('active_admin.versionate.created_at') %></b> <%= reify_version_info.created_at %>
          <br>
          <b><%= I18n.t('active_admin.versionate.user') %></b>: <%= User.find(reify_version_info.whodunnit).email rescue '' %>
          <br>
          <br>
        <% end %>
        <b><%= I18n.t('active_admin.versionate.modified_at') %></b><%= version.created_at %>
        <br>
        <b><%= I18n.t('active_admin.versionate.user') %></b> <%= User.find(version.whodunnit).email rescue '' %>
        <br>
      <% end %>
    <% end %>

    <% if params[:version].to_i > 0 || !params[:version] %>
      <%= link_to I18n.t('active_admin.versionate.previous_version'), {:version => (params[:version] || @versions.length).to_i - 1}%>
      <br>
    <% end %>
  <% end %>
<% elsif @create_version %>
  <h3><%= I18n.t('active_admin.versionate.current_version')%>0</h3>

  <b><%= I18n.t('active_admin.versionate.created_at') %></b>
  <%= @create_version.created_at%>
  <br>
  <b><%= I18n.t('active_admin.versionate.user') %></b><%= User.find(@create_version.whodunnit).email rescue '' %>
<% else %>
  <p><%= I18n.t('active_admin.versionate.no_versions') %></p>
<% end %>
