<% user_email = ->(whodunnit) { User.find_by(id: whodunnit)&.email.presence || whodunnit.to_s.presence || 'Unknown' } %>
<% last_version_number = @versions.length %>

<% if params[:version] %>
  <% version = @versions[params[:version].to_i] %>

  <% if version %>
    <h3 style="margin-bottom: 0;"><%= I18n.t('active_admin.versionate.this_is_version', number: params[:version]) %></h3>
    <%= link_to I18n.t('active_admin.versionate.go_to_current_version'), { version: nil } %><br><br>

    <% prev = version.previous %>
    <% if prev %>
      <b><%= I18n.t('active_admin.versionate.created_at') %></b> <%= prev.created_at %><br>
      <b><%= I18n.t('active_admin.versionate.user') %></b>: <%= user_email.call(prev.whodunnit) %><br>
    <% end %>
    <b><%= I18n.t('active_admin.versionate.modified_at') %></b> <%= version.created_at %><br>
    <b><%= I18n.t('active_admin.versionate.user') %></b> <%= user_email.call(version.whodunnit) %><br>
  <% end %>
<% else %>
  <% current_v = @versions.last || @create_version %>
  <% if current_v %>
    <h3><%= I18n.t('active_admin.versionate.current_version') %><%= last_version_number %></h3>
    <b><%= I18n.t('active_admin.versionate.created_at') %></b> <%= current_v.created_at %><br>
    <b><%= I18n.t('active_admin.versionate.user') %></b> <%= user_email.call(current_v.whodunnit) %><br>
  <% else %>
    <p><%= I18n.t('active_admin.versionate.no_versions') %></p>
  <% end %>
<% end %>

<% if [@create_version, *@versions].compact.length > 1 %>
  <%= render 'version_history_dialog' %>
  <%= link_to t("active_admin.versionate.view_history_table"), "javascript:void(0)", style: "margin-top: 10px; width: 100%; text-align: center;", class: "button", onclick: "document.querySelector('#version_history_modal').showModal()" %>
<% end %>


<% if last_version_number > 0 %>
  <div style="display: flex; justify-content: space-between; margin-top: 10px;">
    <% if params[:version].to_i > 0 || !params[:version] %>
      <%= link_to I18n.t('active_admin.versionate.previous_version'), { version: (params[:version] || last_version_number).to_i - 1 } %>
    <% end %>
    <% if params[:version] && params[:version].to_i < last_version_number %>
      <% next_version = params[:version].to_i + 1 %>
      <%= link_to I18n.t('active_admin.versionate.next_version'), { version: next_version == last_version_number ? nil : next_version } %>
    <% end %>
  </div>
<% end %>
