<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css" rel="stylesheet" />
<style>
  .map-container { display: flex; justify-content: space-between; align-items: center }
  .map { position: relative; height: 300px;  top: 0; bottom: 0; width: 100%; }
  .map-wrapper { width: 100%; padding: 16px; }
</style>

<div class="map-container">
  <div class="map-wrapper">
    <div id="map" class="map"></div>
  </div>
</div>

<script>
  mapboxgl.accessToken = '<%= ENV['MAPBOX_API_KEY'] %>';
  const map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location,
    center: <%= center %>,
    zoom: 8
  });
  const marker1 = new mapboxgl.Marker()
    .setLngLat(<%= center %>)
    .addTo(map);

  map.on('load', function() {
    <% if bbox.present? %>
    map.fitBounds(<%= bbox || [] %>, {
      padding: 50
    });
    <% end %>

    <% if geojson.present? %>
    map.addSource('fmu', {
      'type': 'geojson',
      'data': <%= raw(geojson.to_json) %>
    });
    <% end %>

    map.addLayer({
      'id': 'fmu-fill',
      'type': 'fill',
      'source': 'fmu',
      'layout': {},
      'paint': {
        'fill-color': '#AAA',
        'fill-opacity': 0.8
      }
    });
    map.addLayer({
      'id': 'fmu-line',
      'type': 'line',
      'source': 'fmu',
      'layout': {},
      'paint': {
        'line-color': '#000000',
        'line-opacity': 1,
        'line-width': 4
      }
    });
  });
</script>
