<%= form_for observation, url: perform_qc_admin_observation_path(observation), method: :put do |f| %>
  <fieldset class="inputs">
    <legend>
      <span><%= I18n.t("active_admin.observations_page.perform_qc") %></span>
    </legend>
    <ol>
      <li class="select input">
        <%= f.label :admin_comment %>
        <%= f.text_area :admin_comment, rows: 8 %>
        <%= f.button I18n.t("active_admin.observations_page.ready_to_publish"), class: "button", name: "validation_status", value: "Ready for publication" %>
        <%= f.button I18n.t("active_admin.observations_page.needs_revision"), class: "button", name: "validation_status", value: "Needs revision" %>
      </li>
    </ol>
  </fieldset>
<% end %>
